.side-bar
  .side-bar__user-name
    .side-bar__user-name--top-items
      %ul.side-bar__user-name--top-items__name 
        = current_user.name
      %ul.side-bar__user-name--top-items__icon 
        %li.side-bar__user-name--top-items__icon__new-group 
          = link_to new_group_path(current_user) do 
            =icon('fas', 'edit')
        %li.side-bar__user-name--top-items__icon__edit-user
          = link_to edit_user_path(current_user.id) do
            =icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list--groups
        = link_to group_messages_path(group) do
          %li.side-bar__group-list--groups__name
            = group.name
          %li.side-bar__group-list--groups__message 
            = group.show_latest_message